body{
    background-color: #333333 ;
}
h2{
    color: #48E5C2;
    text-shadow: 2px 2px #333333;
}
.ch8{
    color: #F3D3BD ;
    text-shadow: 2px 2px #333333;
}
.ch12{
    color: #F3D3BD;
    text-shadow: 2px 2px #333333;
}